.IconsButtons{
    right: 1%;
    height: 3.2vh;
    width: auto;
    margin-right: 1vw;
    position: absolute;
}
.LinksHeader:nth-of-type(2) .IconsButtons{
    right: 6%;
}

#title_submenu{
    margin-left: 25%;
    background-color: black;
    padding: 2%;
    border: white 2px solid;
    width: 25%;
    bottom:13px;
    position: relative;
}

.header{
    background-image: url("../imgs/Perfil/inventario/header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    height: 12%;
    overflow: hidden;
    position: relative;
  }

  #usu_header{
    bottom:0%;
    position: relative;
    font-size: 4vh;
    margin-left: 5%;
    color:white;
  }

  #texto_header{
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 96%;
    padding-left: 4%;
  }
  .LinksHeader{
      height: 100%;
      display: flex;
      align-items: center;
      color:white;      
  }