.Registre_partides{
    position: relative;
    background-color: black;
    left: 100%;
    bottom: 100%;
    text-align: center;
}
.descripcion_stats{
    width: 200%;
    background-color: black;

    margin-top:10%;
}
#nombre_bicho{
    font-size: 140%;
    margin-bottom: 2%;
    left: 50%;
    position: relative;
}
.subnivel{
    margin-left: 10%;
    position: relative;
}
#imgs_celdas:hover {
    opacity: 60%;
    cursor: pointer;
}
#ventana_confirmacion{
    bottom:35px;
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    border:white 2px solid;
    color:white;
    margin-top:50%;
    right:60%;
    font-size: 90%;
    text-align: center;
    z-index: 10;
}
#boton_confirmar{
  
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 20%;
}

#cambiar_nombre{
    position: relative;
    width: auto;
    height:auto;
    background-color: black;
}
#boton_nombre{
    position: relative;
    left: 25%;
}
#Cuadro_winrate{
    width: 200%;
    left: 50%;
    position: relative;
    background: radial-gradient(circle, rgba(1,0,51,1) 0%, rgba(0,0,0,1) 100%);
    border: white 2px solid;
    z-index: 5;
    bottom:50%;
  
}
#txt_cuadrowin{
    width: 100%;
   left:15%;
}
.medalla{
    position: relative;
    left:50%;
    
}
.AiFillDelete{
    position: relative;
    bottom:90%;
    left:00%;
}
#ventanaconfirmacion{
    width: 73%;
    height: 72%;
    background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%);
    border:white 2px solid;
    background-size: FIXED;
    background-repeat: no-repeat;
    position: relative;
    bottom: 220%;
    left:15%;
}
