body{
  background-color: black;
}
#tit_login{
  position: relative;
  right:11%;
}
#cartel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    width: 35%;
    height: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9623249983587185) 0%, rgba(68, 153, 109, 0.960364214044993) 100%);
    position: relative;
    left: 30%;
}

#tablero {
    z-index: 1;
    bottom: 5%;
    left: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    width: 75%;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#formulario1 {
    top: 30%;
    height: 40%;
    z-index: 0;
    position: relative;
    left: 4%;
    /*background: rgb(255, 255, 255);*/
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5886555305716037) 0%, rgba(223, 223, 223, 0.5242297602634804) 49%, rgba(0, 0, 0, 0.42619054457720584) 100%);
}

#formulario2 {
    bottom: 10%;
    height: 40%;
    z-index: 0;
    position: relative;
    left: 58%;
    /*background: rgb(255, 255, 255);*/
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5886555305716037) 0%, rgba(223, 223, 223, 0.5242297602634804) 49%, rgba(0, 0, 0, 0.42619054457720584) 100%);
}

/*             */
#login{
  width: 100%;
  height: 100%;
    padding-top: 5%;
    position:relative;
  }
  #Register{
    width: 100%;
    height: 100%;
    padding-top: 1%;
    position:relative;
  }
  .App{
    z-index: 1;
    width:720px;
    height: 1080px;
    background-image: url("../imgs/fondo.jpg"); 
  }
  #log_id{
    border:black 4px solid;
    left: 30% !important;
    position: relative !important;
  }
  #botonlog{
    z-index: 10;
    position: relative;
    top:40%;
  }
  #boton2{
    z-index: 10;
    position:relative;
    bottom: 20%;
  }
  .botons{
    cursor: pointer;
  }
  #row_log{
    z-index: 1;
    left: 22%;
    background-image: url(../imgs/Login/Login_Tablero.png);
    background-size: cover;
    position:relative;
    width: 56%;
    height: 30%;
    color: white;
    font-style: normal;
  }
  #cadena_isq{
    position: relative;
    z-index: 2;
    right: 20%;
    bottom:2%;
  }
  #cadena_de{
    position: relative;
    z-index: 2;
    left: 20%;
    bottom:2%;
  }
  .input{
    background-image: url("../imgs/Login/inputs.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 15%;
    text-align: left;
    padding-top: 3%;
    position: relative;
    margin-left: 30%;
    padding-left: 2%;
    padding-right: 25%;
  }
  #inptxt{
    width: 150px;
  }
  .containerlog{
    width: 100%;
    height: 100%;
    position: relative;
    top:2%;
  }
  #log_title{
    color: white;
  }
  #titulo{
    color:white;
    padding-top: 5%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #row_reg{
    left: 22%;
    bottom:5%;
    background-image: url(../imgs/Login/Login_Tablero.png);
    background-size: cover;
    position:relative;
    width: 56%;
    height: 30%;
    color: white;
    font-style: normal;
    z-index: 1;
  }
  #cadena_2{
    position: absolute;
    z-index: 0;
    left: 40%;
    top:25%;
  }
  #cadena_2_2{
    position: relative;
    z-index: 0;
    left: 0%;
    bottom:10%;
    z-index: 0;
  }
  #todo{
    background-image: url("../imgs/fondo_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  /*--------------------------------------------------*/
  * {
    margin: 0;
    padding: 0;
 }
  body {
    background: #000;
    height: 100vh;
    overflow: hidden;
 }

   .clouds {
     opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
 }
  .clouds {
    background: transparent url('../imgs/fog.png') repeat top center;
    z-index: 3;
    height: 150%;
    animation: cloudsFrames 300s linear infinite;
 }
  .fogContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 7;
 }
  .fog {
    position: absolute;
    left: -50%;
    top: -30%;
    width: 200%;
    height: 200%;
    animation-name: fogFrames;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(-5deg #00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 100%);
 }
  @keyframes fogFrames {
    0% {
      transform: none;
   }
    10% {
      transform: scaleY(0.5) translate(5%, -2%) rotate(15deg);
   }
    25% {
      transform: scaleY(0.3) translate(10%, 7%);
   }
    50% {
      transform: scaleY(0.7) rotate(-15deg);
   }
    75% {
      transform: scaleY(1) translate(7%, -2%);
   }
    100% {
      transform: none;
   }
 }
  @keyframes twinkleFrames {
    from {
      background-position: 0 0;
   }
    to {
      background-position: -10000px 5000px;
   }
 }
  @keyframes twinkleFrames2 {
    from {
      background-position: 0 0;
   }
    to {
      background-position: 10000px 5000px;
   }
 }
  @keyframes cloudsFrames {
    from {
      background-position: 0 0;
   }
    to {
      background-position: 10000px 0;
   }
 }
  